.nav-bar-container {
	background: #323435;
	color: white;
	padding: 10px 20px;
	z-index: 1000;

	ul {
		margin: 0px;
		padding: 0px;
		display: flex;
		justify-content: space-between;
		align-items: center;

		li {
			list-style: none;
		}
	}
}
